* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  max-width: 1577px;
  margin: 0 auto;
  font-family: 'Open Sans', sans-serif;
}

header {
  padding: 30px 10.3995% 108px 10.3995%;
  background-color: #f6f2ef;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

@media screen and (max-width: 1351px) {
  header {
    padding: 2% 5% 0 5%;
  }
}

@media screen and (max-width: 800px) {
  header {
    padding: 0;
  }
}

nav [type="checkbox"] {
  display: none;
}

nav label.slide-menu {
  background-color: #332f30;
  padding: 18px 0 18px 45px;
  display: none;
  color: #e0e0e0;
  text-transform: uppercase;
  font-weight: 700;
  cursor: pointer;
  position: relative;
}

@media screen and (max-width: 800px) {
  nav label.slide-menu {
    display: block;
  }
}

nav label.slide-menu span {
  font-size: 1.5em;
  font-weight: 700;
  position: absolute;
  top: 13px;
  left: 17px;
}

@media screen and (max-width: 800px) {
  nav {
    overflow: hidden;
  }
}

nav ul {
  background-color: #332f30;
  height: 89px;
  max-width: 1249px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

@media screen and (max-width: 800px) {
  nav ul {
    display: block;
    max-height: 0;
    height: inherit;
    max-width: 100%;
    -webkit-transition: max-heigh 0.3s;
    -o-transition: max-heigh 0.3s;
    transition: max-heigh 0.3s;
  }
}

nav li {
  list-style-type: none;
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

@media screen and (max-width: 800px) {
  nav li {
    display: block;
  }
}

nav li a {
  text-transform: uppercase;
  display: block;
  font-size: .875em;
  font-weight: 700;
  height: 89px;
  text-align: center;
  padding: 41px 37px 0 37px;
  cursor: pointer;
}

@media screen and (max-width: 800px) {
  nav li a {
    padding: 20px 0 17px 0;
    height: inherit;
  }
}

nav li a:hover {
  background-color: #ff4043;
}

input.slide-menu:checked + label.slide-menu {
  background: #ff4043;
  border-bottom: solid 1px #332f30;
}

input.slide-menu:checked ~ ul {
  display: block;
  max-height: 5000px;
  -webkit-transition: max-height 2s ease-in;
  -o-transition: max-height 2s ease-in;
  transition: max-height 2s ease-in;
}

.wrap-header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

@media screen and (max-width: 1351px) {
  .wrap-header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: column-reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
}

.our-text {
  width: 48%;
  padding-top: 89px;
}

@media screen and (max-width: 1351px) {
  .our-text {
    width: 48%;
    padding: 0 0 5% 0;
    text-align: center;
  }
}

@media screen and (max-width: 1060px) {
  .our-text {
    width: 90%;
  }
}

@media screen and (max-width: 800px) {
  .our-text {
    padding-bottom: 40px;
  }
}

.our-text > h1 {
  font-size: 3.5em;
  text-transform: uppercase;
  font-weight: 800;
  margin-bottom: 10px;
  letter-spacing: 5px;
  word-wrap: break-word;
}

@media screen and (max-width: 1200px) {
  .our-text > h1 {
    font-size: 3em;
  }
}

@media screen and (max-width: 800px) {
  .our-text > h1 {
    font-size: 2em;
  }
}

.our-text > p {
  padding-right: 100px;
}

@media screen and (max-width: 1351px) {
  .our-text > p {
    padding: 0 10px;
  }
}

.btn-contact {
  width: 227px;
  height: 56px;
  margin-top: 45px;
  background-color: #ff2d2d;
  color: #fff;
  font-size: 1em;
  line-height: 2;
  font-weight: 600;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.btn-contact:active {
  background-color: #fff;
  color: #ff2d2d;
  border: 1px solid #ff2d2d;
}

.btn-contact:focus {
  outline: none;
}

.video img {
  padding-top: 108px;
  width: 550px;
}

@media screen and (max-width: 1351px) {
  .video img {
    padding: 40px 0 35px 0;
    width: 100%;
  }
  .video {
    width: 70%;
  }
}

@media screen and (max-width: 800px) {
  .video {
    width: 100%;
  }
}

p {
  font-size: 1em;
  color: #494848;
  line-height: 2;
}

a {
  text-decoration: none;
  color: #e0e0e0;
}
