@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

@font-face {
  font-family: 'fontello';
  src: url("../font/fontello.eot?75445469");
  src: url("../font/fontello.eot?75445469#iefix") format("embedded-opentype"), url("../font/fontello.woff2?75445469") format("woff2"), url("../font/fontello.woff?75445469") format("woff"), url("../font/fontello.ttf?75445469") format("truetype"), url("../font/fontello.svg?75445469#fontello") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?75445469#fontello') format('svg');
  }
}
*/
[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-pencil:before {
  content: '\e800';
}

/* '' */
.icon-cog:before {
  content: '\e801';
}

/* '' */
.icon-truck:before {
  content: '\e802';
}

/* '' */
.icon-diamond:before {
  content: '\e803';
}

/* '' */
.icon-facebook-circled:before {
  content: '\f051';
}

/* '' */
.icon-twitter-circled:before {
  content: '\f057';
}

/* '' */
.icon-google-plus-circle:before {
  content: '\f2b3';
}

/* '' */
.icon-linkedin-circled:before {
  content: '\f319';
}

/* '' */
body {
  max-width: 1577px;
  margin: 0 auto;
  font-family: 'Open Sans', sans-serif;
}

a {
  text-decoration: none;
  color: #e0e0e0;
}

button {
  border: none;
}

button:focus {
  outline: none;
}

header {
  padding: 30px 10.3995% 108px 10.3995%;
  background-color: #f6f2ef;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

@media screen and (max-width: 1351px) {
  header {
    padding: 2% 5% 0 5%;
  }
}

@media screen and (max-width: 800px) {
  header {
    padding: 0;
  }
}

header p {
  font-size: 1em;
  color: #585858;
  line-height: 1.8;
}

nav [type="checkbox"] {
  display: none;
}

nav label.slide-menu {
  background-color: #332f30;
  padding: 18px 0 18px 45px;
  display: none;
  color: #e0e0e0;
  text-transform: uppercase;
  font-weight: 700;
  cursor: pointer;
  position: relative;
}

@media screen and (max-width: 800px) {
  nav label.slide-menu {
    display: block;
  }
}

nav label.slide-menu span {
  font-size: 1.5em;
  font-weight: 700;
  position: absolute;
  top: 13px;
  left: 17px;
}

@media screen and (max-width: 800px) {
  nav {
    overflow: hidden;
  }
}

nav ul {
  background-color: #332f30;
  height: 89px;
  max-width: 1249px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

@media screen and (max-width: 800px) {
  nav ul {
    display: block;
    max-height: 0;
    height: inherit;
    max-width: 100%;
    -webkit-transition: max-heigh 0.3s;
    -o-transition: max-heigh 0.3s;
    transition: max-heigh 0.3s;
  }
}

nav li {
  list-style-type: none;
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

@media screen and (max-width: 800px) {
  nav li {
    display: block;
  }
}

nav li a {
  text-transform: uppercase;
  display: block;
  font-size: .875em;
  font-weight: 700;
  height: 89px;
  text-align: center;
  padding: 42px 32px 0 32px;
  cursor: pointer;
}

@media screen and (max-width: 800px) {
  nav li a {
    padding: 20px 0 17px 0;
    height: inherit;
  }
}

nav li a:hover {
  background-color: #ff2d2d;
}

input.slide-menu:checked + label.slide-menu {
  background: #ff2d2d;
  border-bottom: solid 1px #332f30;
}

input.slide-menu:checked ~ ul {
  display: block;
  max-height: 5000px;
  -webkit-transition: max-height 2s ease-in;
  -o-transition: max-height 2s ease-in;
  transition: max-height 2s ease-in;
}

.wrap-header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

@media screen and (max-width: 1351px) {
  .wrap-header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: column-reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
}

.our-text {
  width: 48%;
  padding-top: 89px;
}

@media screen and (max-width: 1351px) {
  .our-text {
    width: 48%;
    padding: 0 0 60px 0;
    text-align: center;
  }
}

@media screen and (max-width: 1060px) {
  .our-text {
    width: 90%;
  }
}

@media screen and (max-width: 800px) {
  .our-text {
    padding-bottom: 40px;
  }
}

.our-text > h1 {
  font-size: 60px;
  text-transform: uppercase;
  font-weight: 800;
  margin-bottom: 10px;
  letter-spacing: 5px;
}

@media screen and (max-width: 1410px) {
  .our-text > h1 {
    font-size: 3em;
  }
}

@media screen and (max-width: 500px) {
  .our-text > h1 {
    font-size: 2em;
  }
}

@media screen and (max-width: 365px) {
  .our-text > h1 {
    font-size: 1.5em;
  }
}

.our-text > p {
  padding-right: 100px;
}

@media screen and (max-width: 1351px) {
  .our-text > p {
    padding: 0 10px;
  }
}

.btn-contact {
  width: 227px;
  height: 55px;
  margin-top: 45px;
  background-color: #ff2d2d;
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  border-radius: 5px;
  cursor: pointer;
}

.btn-contact:active {
  background-color: #fff;
  color: #ff2d2d;
  border: 2px solid #ff2d2d;
}

.video {
  padding-top: 108px;
}

.video img {
  width: 550px;
  -webkit-box-shadow: -2px -14px 73px rgba(0, 0, 0, 0.29);
  box-shadow: -2px -14px 73px rgba(0, 0, 0, 0.29);
}

@media screen and (max-width: 1351px) {
  .video {
    padding: 40px 0 35px 0;
  }
  .video img {
    width: 100%;
  }
  .video {
    width: 70%;
  }
}

@media screen and (max-width: 800px) {
  .video {
    width: 100%;
  }
}

.skills-section {
  padding: 110px 10.3995% 0 10.3995%;
}

.skills-section p {
  font-size: 1em;
  color: #585858;
  line-height: 1.8;
}

.skills-section hr {
  border: solid 1px #ececec;
}

@media screen and (max-width: 1540px) {
  .skills-section {
    padding-top: 5%;
    height: auto;
  }
}

.sec-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 10px;
}

@media screen and (max-width: 1540px) {
  .sec-wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
}

.do-you {
  width: 640px;
  height: 580px;
  padding: 0 130px 0 0;
}

@media screen and (max-width: 1540px) {
  .do-you {
    width: auto;
    height: auto;
    padding: 0 0 30px 0;
  }
}

@media screen and (max-width: 1351px) {
  .do-you {
    text-align: center;
  }
}

.do-you h2 {
  text-transform: uppercase;
  font-size: 42px;
  color: #585858;
  margin-bottom: 30px;
}

@media screen and (max-width: 500px) {
  .do-you h2 {
    font-size: 1.5em;
  }
}

.do-you p {
  margin-bottom: 40px;
}

.btn-lm {
  width: 227px;
  height: 55px;
  border-radius: 5px;
  background-color: #fff;
  color: #ff2d2d;
  border: 2px solid #ff2d2d;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
}

.btn-lm:active {
  background-color: #ff2d2d;
  color: #fff;
}

.skills {
  width: 609px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-align-content: flex-start;
  -ms-flex-line-pack: start;
  align-content: flex-start;
}

@media screen and (max-width: 1540px) {
  .skills {
    width: 100%;
    margin-bottom: 20px;
  }
}

.skills .skill {
  width: 288px;
  height: 260px;
}

.skills .skill i {
  color: #ff2d2d;
  font-size: 40px;
  margin-bottom: 20px;
  display: block;
}

@media screen and (max-width: 1540px) {
  .skills .skill i {
    text-align: center;
    margin-bottom: 10px;
  }
}

.skills .skill h3 {
  color: #737373;
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 10px;
}

@media screen and (max-width: 1540px) {
  .skills .skill h3 {
    text-align: center;
  }
}

@media screen and (max-width: 1110px) {
  .skills {
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }
}

.feature-section {
  padding: 92px 10.3995% 0 10.3995%;
}

.feature-section h2 {
  text-transform: uppercase;
  font-size: 42px;
  color: #585858;
  margin-bottom: 20px;
}

.feature-section p {
  font-size: 1em;
  color: #585858;
  line-height: 1.8;
  margin-bottom: 24px;
}

.feature-section hr {
  border: solid 1px #ff2d2d;
  width: 130px;
  margin: 0 auto;
}

.feature-section [type="radio"] {
  display: none;
}

.feature-section ul {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

@media screen and (max-width: 775px) {
  .feature-section ul {
    display: none;
  }
}

.feature-section ul li {
  list-style-type: none;
}

.feature-section ul li label.features-menu {
  display: block;
  color: #737373;
  text-transform: uppercase;
  cursor: pointer;
  color: #737373;
  font-size: 22px;
  font-weight: 600;
  margin: 80px 58px 60px 0;
}

@media screen and (max-width: 1225px) {
  .feature-section ul li label.features-menu {
    font-size: 20px;
  }
}

@media screen and (max-width: 1150px) {
  .feature-section ul li label.features-menu {
    font-size: 18px;
  }
}

input.features-menu:checked + label.features-menu {
  color: #ff2d2d;
}

.f-text {
  text-align: center;
  width: 465px;
  margin: 0 auto;
}

@media screen and (max-width: 775px) {
  .f-text {
    margin-bottom: 50px;
  }
}

@media screen and (max-width: 605px) {
  .f-text {
    width: auto;
  }
}

.gallery {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-align-content: space-between;
  -ms-flex-line-pack: justify;
  align-content: space-between;
  height: 600px;
}

@media screen and (max-width: 1600px) {
  .gallery {
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-align-content: space-around;
    -ms-flex-line-pack: distribute;
    align-content: space-around;
  }
}

@media screen and (max-width: 1555px) {
  .gallery {
    height: 590px;
  }
}

@media screen and (max-width: 1540px) {
  .gallery {
    height: auto;
  }
  .gallery img {
    margin: 1px;
  }
}

@media screen and (max-width: 1532px) {
  .gallery {
    width: 938px;
    height: 910px;
    margin: 0 auto;
  }
}

@media screen and (max-width: 1230px) {
  .gallery {
    height: auto;
    width: auto;
  }
}
