* {
	font-family: 'Open Sans', sans-serif;
	margin: 0;
	padding: 0;
}
body {
	max-width: 1577px;
	margin: 0 auto;

}


header {
	padding: 30px 10.3995% 108px 10.3995%;
	background-color: #f6f2ef;
	/*min-height: 688px;*/
	display: flex;
	flex-direction: column;
}
@media screen and (max-width: 1351px) {
	header {
		padding: 2% 5% 0 5%;
	}
}



nav {
	display: flex;
	/*flex-direction:;*/
	justify-content: center;
	align-items: center;
  background-color: #332f30;
  height: 12.936%;
  max-width: 1249px;
  /*text-align: center;*/
  /*padding: 0 22.7013% 0 22.7013%;*/
}
nav li {
	text-decoration: none;
	text-transform: uppercase;
	display: inline-block;
	font-size: .875em;
	font-weight: 700;
	/*align-self: center;*/
	width: 90px;
	height: 48px;
	text-align: center;
	padding: 41px 7px 0 7px;
	cursor: pointer;
}
nav li:hover {
	background-color: #ff4043;
}
@media screen and (max-width: 640px) {
	nav > ul{
		display: none;
	}
	nav > p:before {
		content: "Menu ☰";
	}

}


.wrap-header {
	display: flex;	
	justify-content: space-between;
}
@media screen and (max-width: 1351px) {
	.wrap-header {
		flex-direction: column-reverse;
		/*flex-wrap: wrap-reverse;*/
		/*flex-wrap: nowrap;*/
		align-items: center;
	}
}



.our-text {
	/*float: left;*/
	width: 48%;
	padding-top: 89px;
}
@media screen and (max-width: 1351px) {
	.our-text {
		width: 48%;
		padding: 0 0 5% 0;
		text-align: center;
	}
	/*.our-text > h1 {
		text-align: center;
	}*/
}
.our-text > h1 {
	font-size: 3.5em;
	text-transform: uppercase;
	font-weight: 800;
	margin-bottom: 10px;
	letter-spacing: 5px;
}
.our-text > p {
	padding-right: 100px;
}
@media screen and (max-width: 1351px) {
	.our-text > p {
		padding: 0 10px;
	}
}
.contact-us {
	width: 227px;
	height: 56px;
	margin-top: 45px;
	background-color: #ff2d2d;
	color: #fff;
	font-size: 1em;
	line-height: 2;
	font-weight: 600;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}
.contact-us:active {
	background-color: #fff;
	color: #ff2d2d;
	/*transition: all .2s;*/
	border: 1px solid #ff2d2d;;
}
.contact-us:focus {
	outline: none;
}
.video img{
	padding-top: 108px;
	width: 550px;
}
@media screen and (max-width: 1351px) {
	.video img {
		padding: 5% 0;
		width: 100%;
	} 
	.video {
		width: 70%;
	}
}



p {
	font-size: 1em;
	color: #494848;
	line-height: 2;
}
a {	
  text-decoration: none;
  color: #e0e0e0;
}

main {
  background-color: #009688;
}
footer {
  background-color: #2196f3;
}