* {
	font-family: 'Open Sans', sans-serif;
	margin: 0;
	padding: 0;
}

#wrapper {
	max-width: 1577px;
	margin: 0 auto;

}

.wrap-header {
	display: flex;
	flex-flow: row wrap;
}
.our-text {
	float: left;
	width: 60%;
	padding: 108px 0px 0 0;
}
header {
	padding: 4.2151163% 10.3995% 0 10.3995%;
	background-color: #f6f2ef;
	height: 688px;
}

.our-text > h1 {
	font-size: 3.5em;
	text-transform: uppercase;
	font-weight: 800;
	margin-bottom: 10px;
	letter-spacing: 5px;
}

.our-text > p {
	padding-right: 18.75em;
}

.video img{
	padding-top: 108px;
	width: 40%;
}
p {
	font-size: 1em;
	color: #494848;
	line-height: 2;
}

nav {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	/*flex-direction:;*/
	justify-content: center;
	align-items: center;
  background-color: #332f30;
  height: 12.936%;
  max-width: 1249px;
  /*text-align: center;*/
  /*padding: 0 22.7013% 0 22.7013%;*/
}

a {	
  text-decoration: none;
  color: #e0e0e0;
}

nav li {
	text-decoration: none;
	text-transform: uppercase;
	display: inline-block;
	font-size: .875em;
	font-weight: 700;
	/*align-self: center;*/
	width: 85px;
	height: 48px;
	text-align: center;
	padding: 41px 7px 0 7px;
	cursor: pointer;
}

nav li:hover {
	background-color: #ff4043;
}

@media screen and (max-width: 640px) {
	nav > ul{
		display: none;
	}
	nav > p:before {
		content: open-quote;
	}

}

main {
  background-color: #009688;
}

footer {
  background-color: #2196f3;
}